* {
    box-sizing: border-box;
    margin: 0;
}
a {
    text-decoration: none;
}
body{
    background-color: #fff;
    height: 100vh;
     margin: 0; 
     color: black;
} 

.profile-image{
    height: 40px;
    border-radius: 25%;
}
.dash-icons{
    height: 30px;
}


.grid-container{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;  
    grid-template-rows: 60px 70px 1fr;
    grid-template-areas: 
    "header" 
    "nav" 
    "main";
}

.bell-icon{
    height: 40px;
}

header{
    grid-area: header;
    display: flex;
    justify-content: space-between;
    background-color: rgb(171, 81, 199);
    padding: 10px;
}

h1{
    margin-right: auto;
}

nav{
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    background-color: rgb(151, 45, 146);
    align-items: center;
}
h3{
    display: flex;
    align-items: center;
}
main{
    grid-area: main;
}

.main-header{
     display: flex;
     flex-direction: row;
}

.headline{
    margin-right: auto;
}






@media (min-width: 768px){
    .grid-container{
        height: 100%;
        display: grid;
        grid-template-rows: 70px 75px 1fr; 
        grid-template-areas: 
        "header" 
        "nav" 
        "main";
    }
    
    header{
        grid-area: header;
    }

    nav{
        grid-area: nav;
    }

    main{
        grid-area: main;
    }
}



@media (min-width: 1024px){

header{
    grid-area: header;
    display: flex;
    justify-content: space-between;
    
}

nav{
    grid-area: nav;
    display: flex;
    flex-direction: column;
}

main {
    grid-area: main;
}

.grid-container{
    height: 100%;
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-template-rows: 60px 1fr;
    grid-template-areas: 
    "header header" 
    "nav main" 
}

h1{
    margin-right: auto;
    }
}





