* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    /* border: solid 1px red; */
}
a {
    text-decoration: none;
}
body{
    background-color: #fff;
    height: 100vh;
     margin: 0; 
     color: black;
} 

.profile-image{
    height: 40px;
    width: 40px;
    border-radius: 50%;

}

.personal-info{
display: flex;
border-left: 2px solid black;     
}

.dash-icons{
    height: 40px;
}


.main-nav{
    list-style-type: none;
    background-color: #404c72;;
    display: flex;
    justify-content: center;
    padding: 8px;
    align-items: center;
}


.grid-container{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;  
    grid-template-rows: 60px 70px 1fr;
    grid-template-areas: 
    "header" 
    "nav" 
    "main";
}

.bell-icon{
    height: 30px;
    margin-top: 10px;
    text-align: center;
    animation: scaledown 1s ease-in;
    animation-fill-mode: forwards;
}

.bell-icon:hover{
    animation: scale; 
    animation-fill-mode: forwards;
}

 @keyframes scaledown {
    0%{
        webkit-transform: scale (1.1);
        transform: scale (1.1);
    }
    100%{
        webkit-tranfrom: scale(1.0);
        transform: scale(1.0);
    }
}

@keyframes scale{
    0%{
        webkit-transform: scale(1);
        transform: scale(1);
    }

    100%{
        webkit-transform: scale(1.5);
        transform: scale(1.5); 
    }
} 


header{
    grid-area: header;
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: #7477bf;
    padding: 10px;
}

h1{
    margin-right: auto;
}

h3{
    display: flex;
    align-items: center;

    
}
main{
    grid-area: main;
}

.main-header{
     display: flex;
     flex-direction: row;
}

.headline{
    margin-right: auto;
}

    input:hover,
    textarea:hover,
    select:hover{
        background-color: rgb(212, 183, 221);
        transition: ease-in .7s;
    }

.alert{
    background-color:  #404c72;;
}

.traff{
    margin-right: auto;
}

.traffic-nav{
   list-style-type: none;
}

ul li{
    padding-right: 5px;
}

.traffic-header{
    display: flex;
    justify-content: space-between;
}

.traffic-nav{
    display: flex;
    flex-direction: row;
}

.twitter-svg{
    height: 50px;
}

.facebook-svg{
    height: 50px;
}

.google-svg{
    height: 50px;
}

.social-container{
    display: flex;
    float: left;
    border: solid 2px black;
    
}





/* Tablet sized media query */

@media (min-width: 768px){
    .grid-container{
        height: 100%;
        display: grid;
        grid-template-rows: 70px 60px 1fr; 

        grid-template-areas: 
        "header" 
        "nav" 
        "main";
    }
    
    header{
        grid-area: header;
    }

    nav{
        grid-area: nav;
    }

    main{
        grid-area: main;
    }
}










/* Desktop media query */

@media (min-width: 1024px){

header{
    grid-area: header;
    display: flex;
    justify-content: space-between;
    
}

nav{
    grid-area: nav;
    display: flex;
    flex-direction: column;
}

main {
    display: grid;
    grid-area: main;
}

.grid-container{
    height: 100%;
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-template-rows: 60px 1fr;
    grid-template-areas: 
    "header header" 
    "nav main" 
}

h1{
    margin-right: auto;
    }
}





